html, body, #root, #root>div {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: #dbdbdb;
  min-height: 100%;
  font-family: 'IBM Plex Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centered-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 70%;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
}
